<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Caveat&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <title>Шляпа онлайн</title>
  </head>
  <body class="text-center">
    <div class="page-header">
      <h1> Игра в шляпу </h1>
      <hr>
    </div>
    <div class="container" id="app">
      <hatgame :words="(( words ))" :interval="20"></hatgame>
    </div>
    <template id="countdown-template">
      <div class="hatgame">
        <div v-if="gameStarted == true">
          Игра началась!
          <div class="block">
            <p class="h2 pt-3 pb-2 digit">{{ seconds }}</p>
          </div>
          <p class='h2 pt-2 pb-4'>{{ words[totalWordCounter] }}</p>
          <button class="btn-alert" @click="finishGame">Ошибка</button>
          <button class="btn" @click="recordGuessed">Угадано</button>
          <div class="container-fluid pt-4 pb-1">
            <p class='h2'>{{ wordCounter }}</p>
          </div>
        </div>
        <div v-if="gameStarted == false">
          <p> В прошлый раз вы набрали {{wordCounter}} {{ getPointsCase(wordCounter) }} </p>
          <p> Игра пока не началась </p>
          <button class="btn" @click="startGame">Начать игру</button>
        </div>
      </div>
    </template>
    <!-- Footer -->
    <footer class="page-footer w-75">
      <div>
        <br>
        <p class="float-right small">
          Сейчас на сайте (( words_num )) слов из "Евгения Онегина" |
          <a href="https://forms.gle/7gZe4U3mjdvXhgMz7" target="_blank">Предложить слова</a> |
          <a href="https://t.me/playhat_ru" target="_blank">Telegram-канал</a>

        </p>
      </div>
    </footer>
    <!-- Footer -->
    <script src='https://unpkg.com/vue'></script>
    <script  src="../static/js/script.js"></script>
    <!-- Bootstrap scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>